template#video-template
  video.video-js id='' muted=true controls='' width=640 height=480 preload='metadata' data-setup="{}" poster=''
    / source src=@video.video_m3u8_url type="application/x-mpegURL"
    / source src=@video.video_avc_url type="video/mp4"
